body{
    margin: 0;
    padding: 0;
}

.container{

    width: 80%;
    margin: auto;
    display: block;
}


.container__tarjeta__elemento{
    height: 400px;
    width: 400px;
    border: 1px solid black;

}

div.container__tarjeta div:nth-child(even){

    float: right;

}
